/* .navbar {
    background-color:purple;
    position:fixed;
    width: 100%;  
};
li{
    display:inline;
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;
} */
.middleSection{
    margin-top:5px;
    margin-bottom:3px;
    background-image:url("bg-5-full.jpg");
};
#override{
    border-width:5px;
}